/*----------------
    COMMONS
-----------------*/
a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.wrapper-small {
    max-width: 1000px;
    margin: auto;
}
/*----------------
    BUTTONS
-----------------*/
button {
    background-color: transparent;
    border: none;
    color: white;
}

/*----------------
    TYPOGRAPHY
-----------------*/
body {
    color: white;
    font-size: 1.2em;
    font-weight: 700;
}

h1,h2,h3,h4 {
    text-transform: uppercase;
    color: black;
}

/*----------------
    DEBUG
-----------------*/
header {
    background-color: violet;
}

.hero {
    /* height: 500px; */
    background-color: rgb(146, 130, 238);
}

/* [class*=col-] {
    background-color: aqua;
    border: 1px solid black; */
    /* height: 400px; */
}

.about {
    background-color: violet;
}

footer {
    background-color: rgb(162, 130, 238);
}

/*----------------
    HERO
-----------------*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.propic_box {
    width: 200px;
    margin: auto;
}

.hero h1 {
    font-size: 2.2em;
    font-weight: 600;
    color: white;
}

.hero h2 {
    font-size: 1.1em;
    color: white;
}

/*----------------
    PORTFOLIO
-----------------*/
.portfolio img {
    border-radius: 10px;
}

.portfolio h2 {
    font-size: 2.2em;
}

/*----------------
    ABOUT
-----------------*/
.about {
    background-color: lightcoral;
}

.about h2 {
    font-size: 2.2em;
    color: white;
}